<div fxLayout="row wrap" #resizedDiv>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2"> 
        <mat-card class="pb-2">
            <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
                <mat-card-subtitle>Products profit</mat-card-subtitle>
                <mat-chip-set>
                    <mat-chip color="accent" highlighted="true" class="info-chip">
                        <mat-icon class="icon-sm">trending_up</mat-icon>37%
                    </mat-chip> 
                </mat-chip-set> 
            </mat-card-header>         
            <div class="w-100 h-100p">
                <ngx-charts-bar-vertical
                    [scheme]="colorScheme"
                    [results]="products"                      
                    (select)="onSelect($event)">
                </ngx-charts-bar-vertical>                   
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2"> 
        <mat-card class="pb-2">
            <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
                <mat-card-subtitle>Total orders</mat-card-subtitle>
                <mat-chip-set>
                    <mat-chip color="primary" highlighted="true" class="info-chip">
                        <mat-icon class="icon-sm">trending_up</mat-icon>15%
                    </mat-chip> 
                </mat-chip-set> 
            </mat-card-header>         
            <div class="w-100 h-100p">
                <ngx-charts-line-chart
                    [scheme]="colorScheme"
                    [results]="orders"                      
                    [autoScale]="autoScale"
                    (select)="onSelect($event)">
                </ngx-charts-line-chart>                  
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2"> 
        <mat-card class="pb-2">
            <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
                <mat-card-subtitle>Refunds</mat-card-subtitle>
                <mat-chip-set>
                    <mat-chip color="warn" highlighted="true" class="info-chip">
                        <mat-icon class="icon-sm">trending_down</mat-icon>-9%
                    </mat-chip> 
                </mat-chip-set> 
            </mat-card-header>         
            <div class="w-100 h-100p">
                <ngx-charts-bar-vertical
                    [scheme]="colorScheme"
                    [results]="refunds"                      
                    (select)="onSelect($event)">
                </ngx-charts-bar-vertical>                     
            </div>
        </mat-card>
    </div>    
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2"> 
        <mat-card class="pb-2">
            <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
                <mat-card-subtitle>Customers</mat-card-subtitle>
                <mat-chip-set>
                    <mat-chip color="accent" highlighted="true" class="info-chip">
                        <mat-icon class="icon-sm">trending_up</mat-icon>12%
                    </mat-chip> 
                </mat-chip-set>
            </mat-card-header>         
            <div class="w-100 h-100p">
                <ngx-charts-line-chart
                    [scheme]="colorScheme"
                    [results]="customers"                      
                    [autoScale]="autoScale"
                    (select)="onSelect($event)">
                </ngx-charts-line-chart>                    
            </div>
        </mat-card>
    </div>    
</div>